.about {
  background-image: url(../../assets/contact_img.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 80%;
  position: relative;
  margin-top: 40px;
}

.about p {
  padding: 1rem;
  top: 20%;
  right: 35%;
  width: 50%;
  background-color: hsla(38, 19%, 90%, 0.9);
  line-height: 1.5;
  /* height: 70%; */
  position: absolute;
}

/* responsive */

@media screen and (max-width: 1000px) {
  .about p {
    top: 0;
    left: 10%;
    width: 80%;
  }
}
