header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border: solid 1px red;
}

.logo {
  /* width: 40%; */
  width: 400px;
  cursor: pointer;
}

.logoMobile {
  /* logo with no text to display on small devices */
  display: none;
}

.nav-menu {
  position: relative;
}

.nav-menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger:hover {
  color: "red";
}

.nav__item:hover {
  color: var(--color-accent);
}

.nav__item--active {
  font-weight: 700;
  border-bottom: 1px solid black;
}

.nav__item--active:hover {
  border-bottom-color: var(--color-accent);
}

/* Responsive */

@media screen and (max-width: 800px) {
  .logo {
    width: 350px;
  }

  .hamburger {
    display: block;
  }

  .nav-menu ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    background-color: white;
    opacity: 0.9;
    translate: 500px;
    right: 0px;
    z-index: 9999;
    transition: all 0.2s ease-out;
    width: 100dvw;
    height: calc(100vh - 70px);
    border: solid 1px blue;
  }

  .nav-menu li {
    font-size: 1.4rem;
  }

  .nav-menu.expanded ul {
    translate: 0px;
  }

  .nav-menu li {
    text-align: right;
  }

  @media screen and (max-width: 400px) {
    .logo {
      display: none;
    }

    .logoMobile {
      display: inline;
      width: 200px;
    }
  }
}
